body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  background: black;
  color: white;
  cursor: pointer;
}
